.sidebar {
   
    width: 200px;
    background-color: #7F7F7F;
    position: fixed;
    height: 100%;
    overflow: hidden;
  }
 
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-style: Arial;
    font-size: 25px;
  }
 
  /* Active/current link */
  .sidebar a.active {
    background-color: #555;
    color:white;
  }
 
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
 
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 0px;
      margin-right: 100px;
    padding: 1px 16px;
    height: 1000px;
  }

  .table{
      box-shadow: 0 0 10px rgba(0, 0, 0, 1);
      border-collapse: collapse;
      font-family: 'Quicksand',sans-serif;
      overflow: hidden;
      font-weight: bold;
      margin-left: 200px;
  }
.table thead th{
   background:#009578 ;
   color: white;
}

  .table td,
  .table th
   {      
     padding: 150px 200px;
    }
   .table tbody tr:nth-of-type(even) 
   {
       background: #eeeeee;
   }
   .table tbody tr:last-of-type
   {
        border-bottom: 2px solid #009578;
   }
 
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
 
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

@media only screen and (max-width: 768px) {
  table {
   margin-right: 100px;
  }
}


